### AI ML ASSIGNMENT 1  ###
   ### [ NIRANJANA D - 21BEC1655 ] ###

In [ ]:
import pandas as pd

In [ ]:
import numpy as np


## TASK 1  [CREATE A PANDAS DATA FRAME] ##

In [ ]:
df = {'students':['A','B','C','D','E','F','G','H','I','J','K'],'marks':[98,76,80,69,77,98,76,80,69,54,77],'age':[22,23,22,np.nan,24,23,np.nan,22,24,23,22],'gender':['m','m','f','f','f','m','f','m','f','f','m'],
'rank':[5,7,9,9,6,8,1,2,3,4,np.nan]}
df

{'students': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K'],
 'marks': [98, 76, 80, 69, 77, 98, 76, 80, 69, 54, 77],
 'age': [22, 23, 22, nan, 24, 23, nan, 22, 24, 23, 22],
 'gender': ['m', 'm', 'f', 'f', 'f', 'm', 'f', 'm', 'f', 'f', 'm'],
 'rank': [5, 7, 9, 9, 6, 8, 1, 2, 3, 4, nan]}

In [ ]:
df1=pd.DataFrame(df) ### CREATING DATA FRAME
df1

   students  marks   age gender  rank
0         A     98  22.0      m   5.0
1         B     76  23.0      m   7.0
2         C     80  22.0      f   9.0
3         D     69   NaN      f   9.0
4         E     77  24.0      f   6.0
5         F     98  23.0      m   8.0
6         G     76   NaN      f   1.0
7         H     80  22.0      m   2.0
8         I     69  24.0      f   3.0
9         J     54  23.0      f   4.0
10        K     77  22.0      m   NaN

## TASK 2 [ CHECK THE INFO ] ##

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   students  11 non-null     object
 1   marks     11 non-null     int64
 2   age       9 non-null      float64
 3   gender    11 non-null     object
 4   rank      10 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 568.0+ bytes

## TASK 3 [ CHECK THE DESCRIPTIVE STATISTICS ] ##

In [ ]:
df1.describe()        ## DESCRIPTIVE STATISTICS

           marks        age       rank
count  11.000000   9.000000  10.000000
mean   77.636364  22.777778   5.400000
std    12.468141   0.833333   2.875181
min    54.000000  22.000000   1.000000
25%    72.500000  22.000000   3.250000
50%    77.000000  23.000000   5.500000
75%    80.000000  23.000000   7.750000
max    98.000000  24.000000   9.000000

## TASK 4 [ CHECK THE 4TH INDEX OBSERVATION ]

In [ ]:
df1.loc[4]     ## LOCATION

students       E
marks         77
age         24.0
gender         f
rank         6.0
Name: 4, dtype: object

## TASK 5 [ CHECK THE NULL VALUES ] ##

In [ ]:
df1.isnull().any() ### checking is there any null value in our dataset

students    False
marks       False
age          True
gender      False
rank         True
dtype: bool